**/bin-debug/**
**/target/**
**/*.swc
source/moqawalatiWeb/.classpath
source/moqawalatiWeb/.project
source/moqawalatiWeb/.settings/org.eclipse.wst.common.component
**/logs/**

source/moqawalatiWeb/.pmd

source/moqawalatiHtml5/src/main/html5/prototypes/trouvauto/.idea/**

source/moqawalatiHtml5/src/main/html5/prototypes/trouvauto/node_modules/**

source/moqawalatiHtml5/src/main/html5/prototypes/trouvauto/npm-debug.log

source/moqawalatiHtml5/src/main/html5/prototypes/trouvauto/i.m.htm
